<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservations</title>
  <link rel="stylesheet" type="text/css" href="/css/reservation-list.css" />
</head>
<body>

  <div class="center">
  	
  	<nav class="topnav" id="nav">
  		<a href="/reservation-list.html">List of reservations</a>
  		<a href="/reservation.html">Make a reservation</a>
  		<a href="javascript:void(0);" class="icon" onclick="responsiveMenu()">&#9776;</a>
  	</nav>
  	
  	<script>
		function responsiveMenu() {
    		var x = document.getElementById("nav");
    		if (x.className === "topnav") {
        		x.className += " responsive";
    		} else {
       			x.className = "topnav";
    		}
		}
	</script>

  	<div id="reservation">
  		<h2 id="system-error" class="message">We are sorry, retrieving the list of reservations failed - please try again later.</h2>
  		<h2 id="action-error" class="message">We are sorry, we were unable to execute your action - please try again later.</h2>

  		<div id="reservation-list">
  		   
	  		<script id="reservation-list-template" type="text/x-handlebars-template">  
    			<table>
      			<caption>List of reservations</caption>
      			<thead>
        			<tr>
          				<th>Reservation ID</th>
          				<th>Facility ID</th>
          				<th>Start Date</th>
          				<th>End Date</th>
          				<th>Reserved by</th>
          				<th>Action</th>
        			</tr>
      			</thead>
      			<tbody>
    			{{#each content}}  
        			<tr>                    
          				<td>{{id}}</td>
         				<td>{{resourceId}}</td>
          				<td>{{startDate}}</td>            
          				<td>{{endDate}}</td> 
          				<td>{{owner}}</td> 
         	 			<td><a href="#" class="action" reservationId="{{id}}">Cancel</a>           
        			</tr>
    			{{/each}}
     			</tbody>
    			</table>
 			</script>

		</div> 
		
  		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 		<script src="js/reservation-list.js"></script>
 		<script src="js/lib/handlebars-v3.0.0.js"></script>
 	</div>	
</div>
</body>
</html>