@CHARSET "ISO-8859-1";

.message {
    display: none;
}

a {
	text-decoration:none;
}

nav a:link, nav a:visited {
	background-color:#449d44
}

nav a:hover, nav a:active {
	background-color: #4cae4c;
}

nav {
	background-color:#449d44;
	padding: 20px;
}

.topnav .icon {
  display: none;
  padding:10px;
}

.topnav a {
	margin:auto;
  	border-color: #4cae4c;
  	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 18px;
  	padding: 15px;
}

.center {
	position:fixed;
	height:100%;
	z-index: 1;
   	top: 0;
   	left: 0;
   	width: 100%;
	text-align:center;
}

#reservation {
    padding:10px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-family: Helvetica;
    font-size: xx-medium;
    overflow-x:auto;    
}

table {
    width: 100%;
    border-radius: 10px;
}

th {
    padding:10px;
}

caption{
    padding:20px;
    font-size: xx-large;
}

thead {
    box-shadow: 3px 3px 4px #ddd;
}

table, tbody, td {
   	background-color: #f5f5f5;
    border-color: #ddd;
    box-shadow: 3px 3px 4px #ddd;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a:first-child {display: none;}
  .topnav a.icon {
    float: right;
    position: fixed;
    display: block;
    top:0;
    right:0;
  }
  .topnav {
  	padding:25px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
  	position: relative;
  	padding:0px 40px 0px 0px;
  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top:0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}